<nav class="flex">
    <div class="nav-center">
        <a href="/">
            <div>Homepage</div>
        </a>
    </div>
    <div class="nav-center">
        <a href="/node">
            <div>Node.js</div>
        </a>
        <a href="/npm">
            <div>NPM</div>
        </a>
        <a href="/express">
            <div>Express</div>
        </a>
        <a href="/nodemon">
            <div>Nodemon</div>
        </a>
        <a href="/basicWebServer">
            <div>Basic Web Server</div>
        </a>
    </div>
</nav>