body {
    background-color: #3a3a3a;
    color: white;
    margin: 0
}

h1 {
    margin-top: 0;
}

section {
    text-align: left;
    width: 75%;
    margin: auto;
    font-family: sans-serif;
}

section h3 {
    color: mediumseagreen;
    margin: 0;
}

section p {
    margin: 0;
}

section p a {
    color: yellowgreen;
}

code {
    display: block;
    background-color: #151515;
    color: #eeeeee;
    padding: 3px;
    margin: 3px 0;
    border-radius: 5px;
}

.cli {
    background-color: #0f0f0f !important;
}

.flex {
    display: flex;
}

.content {
    text-align: center;
    background-color: #2a2a2a;
    color: darkseagreen;
    width: fit-content;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
}

img {
    max-width: 600px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}

/*
    Colors
*/

.yellow {
    color: #ffd507;
}

.yellowgreen {
    color: yellowgreen;
}

.lightseagreen {
    color: lightseagreen;
}

.dodgerblue {
    color: dodgerblue;
}

.skyblue {
    color: skyblue;
}

.deepskyblue {
    color: deepskyblue;
}

.sandybrown {
    color: sandybrown;
}

.ffffcf {
    color: #ffffcf;
}

.grey {
    color: grey;
}

.green {
    color: #8bc34a;
}

/*
    Fonts
*/

.monospace {
    font-family: monospace;
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

/*
    Nav
*/

nav {
    background-color: darkseagreen;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px black;
}

.nav-left, .nav-right {
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-left {
    padding-left: 20px;
}

.nav-right {
    padding-right: 0px;
}

nav a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    color: green;
}

nav a:hover {
    background-color: green;
    color: greenyellow;
}

nav a div {
    display: flex;
    align-items: center;
    height: 100%;
}

/*
    Homepage
 */

.topics {
    /*width: 50%;*/
    margin: 0 auto;
}

.topics a {
    background-color: darkseagreen;
    color: green;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.6em;
    width: 140px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px;
}

.topics a:hover {
    background-color: green;
    color: greenyellow;
}

.topics a div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.topics-row {
    justify-content: center;
}